{% extends "bootstrap/base.html" %}

{% block title %}Study Lab{%  endblock %}


{% block scripts %}
{{ super() }}
{{ moment.include_moment() }}

{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet"
          href="{{ url_for('static', filename='mycss.css') }}">
{% endblock %}

{% block navbar %}
    <div class="navbar navbar-inverse" role="navigation">
<div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Study Lab</a>
    </div>
    <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            <li><a id="teacher" class="navbar-nav-item" href="{{ url_for('teacher') }}">Home</a></li>
            <li><a id="browse" class="navbar-nav-item" href="{{ url_for('browse') }}">Browse</a></li>
            <li><a id="rewards" class="navbar-nav-item" href="{{ url_for('rewards') }}">Rewards</a></li>
        </ul>
    </div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="container">
    {% block page_content %}{% endblock %}
</div>
<script>
  $(document).ready(function() {
  $("#{{request.endpoint}}").addClass("active"); })
</script>
{% endblock %}